


@model IEnumerable<ReseauSocial.Asp.Models.ArticleAsp>

@{
    ViewData["Title"] = "GetMyArticle";
}

<h1>Mes Articles</h1>

<p>
    <a asp-action="Insert" asp-controller="Article">Creer un nouvel article</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentOk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnLigne)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentOk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnLigne)
            </td>
           @* <td>
                @item.UserArticle.FirstName  @item.UserArticle.LastName
            </td>*@
            <td>
                <a asp-controller="Article" asp-action="GetArticleById" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                <a asp-controller="Article" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Modifier</a>
                <a asp-controller="Article" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Effacer</a>
                   
            </td>
        </tr>
        }
    </tbody>
</table>
