
@model BLL.Models.UserBll
@inject ReseauSocial.Asp.Sessions.ISessionHelpers sessionManager

<div class="container">
    <div>
        <div>
            <a asp-controller="Article" asp-action="GetArticleByUserId" asp-route-id="@Model.Id" class="btn btn-success">Voir ses articles</a>
            <hr/>
            <form>
                <div class="form-group">
                    <label for="message">Message a  @Model.LastName @Model.FirstName</label>
                    <input name="message" type="text" class="form-control" id="message" placeholder="Votre message">
                </div>
                <button id="submitButton" type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
        <hr/>
        <div>
            <h4 id="messageTitle" class="m-2"></h4>
            <ul id="listMessage" class=" m-2 list-group"> </ul>
          
        </div>
    </div>
  
</div>
<script>
    var curentUserId = parseInt(@sessionManager.CurentUser.Id.ToString());
    var otherUserId =  parseInt(@Model.Id.ToString());
</script>
<script src="~/js/dist/browser/signalr.js"></script>
<script src="~/js/MessageHub.js"></script>
