@model IEnumerable<ReseauSocial.Asp.Models.UserAsp>
@inject ReseauSocial.Asp.Sessions.ISessionHelpers sessionManager
@inject BLL.Interfaces.IFollowerBll _followerBll
@inject BLL.Interfaces.IBlacklistBll _blacklistBll
@{
    ViewData["Title"] = "Ma blaclist";
}

<h1>Ma blacklist</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>

                   @* <a asp-controller="Message" asp-action="MessageTo" asp-route-id="@item.Id" class="btn btn-success">Envoyer un message</a>
                    <a asp-controller="Article" asp-action="GetArticleByUserId" asp-route-id="@item.Id" class="btn btn-success">Voir les articles</a>*@
                    @*@if (_followerBll.IsFollowBy(sessionManager.CurentUser.Id, item.Id))
                    {
                        <a asp-controller="Follower" asp-action="UnFollow" asp-route-id="@item.Id" class="btn btn-danger">Ne plus suivre</a>
                    }
                    else
                    {
                        @if (!_blacklistBll.IsUser1BlacklisterOfUser2(sessionManager.CurentUser.Id, item.Id))
                        {
                            <a asp-controller="Follower" asp-action="Follow" asp-route-id="@item.Id" class="btn btn-success">Suivre</a>
                        }
                    }
                    @if (_blacklistBll.IsUser1BlacklisterOfUser2(sessionManager.CurentUser.Id, item.Id))
                    {*@
                        <a asp-controller="Blacklist" asp-action="UnBlacklist" asp-route-id="@item.Id" class="btn btn-danger">Déblacklister</a>
                    @*}
                    else
                    {
                        <a asp-controller="Blacklist" asp-action="Blacklist" asp-route-id="@item.Id" class="btn btn-danger">Blacklister</a>
                    }*@
                </td>
            </tr>
        }
    </tbody>
</table>


